<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <!-- PANEL FOR AUTHORIZED USER/ DISPLAYS WISHLIST AND ITEMS -->
      <div id="wishlistPanel" class="panel panel-default" [ngClass]="{'show-class' : afService.email == ownerEmail}">
        <div class="panel-heading">
          <h1 class="panel-title text-center">{{title}}</h1>
        </div>
        <!-- List group for Wishlist items -->
        <ul class="list-group" *ngFor="let item of items | async">
          <li class="list-group-item">
            <span [ngClass]="{'text-strike' : item.completed}">{{item.title}}</span>
            <span (click)="deleteWishlistItem(item.$key)" id="deleteItem">&times;</span>
            <input type="checkbox" id="completedItem" [(ngModel)]="item.completed" (change)="checkboxChange($event, item.$key)">
          </li>
        </ul>

        <ul class="list-group">
          <li class="list-group-item text-center">
              <input id="newWishlistItemInput" #item type="text" placeholder="Enter a new wishlist item" [(ngModel)]="newWishlistItem" (keyup.enter)="addWishlistItem()" required=""/>
              <button id="newWishlistItemButton" (click)="addWishlistItem()">Add</button>
          </li>
        </ul>
        <div *ngIf="error" class="error text-center">
          Invalid Input!
        </div>


    </div>

    <!-- IF USER IS NOT AUTHORIZED TO VIEW WISHLIST, DISPLAY THIS TEXT-->
    <div id="unauthorizedText" [ngClass]="{ 'show-class': afService.email != ownerEmail}">
      <h1 style="text-align: center;">You are not authorized to view this page</h1>
    </div>

  </div>
</div>
