<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div *ngIf="error" class="text-center alert alert-danger">
        <p>{{flashMessage}}</p>
      </div>

      <div *ngIf="success" class="text-center alert alert-success">
        <p>{{flashMessage}}</p>
      </div>



      <!-- PANEL FOR AUTHORIZED USER/ DISPLAYS WISHLIST AND ITEMS -->
      <div id="wishlistPanel" class="panel panel-default" [ngClass]="{'show-class' : afService.email == ownerEmail || objIter(emailObj, afService.email)}">
        <div class="panel-heading">
          <h1 class="panel-title text-center">{{title}}</h1>
        </div>
        <!-- List group for Wishlist items -->
        <ul class="list-group" *ngFor="let item of items | async">
          <li class="list-group-item">
            <input type="checkbox" id="completedItem" [(ngModel)]="item.completed" (change)="checkboxChange($event, item.$key)" *ngIf="editableToggle || afService.email == ownerEmail">
            <span id="itemName" [ngClass]="{'text-strike' : item.completed}">{{item.title}}</span>
            <span (click)="deleteWishlistItem(item.$key)" id="deleteItem" *ngIf="editableToggle || afService.email == ownerEmail">&times;</span>
          </li>
        </ul>
      </div>

      <!-- Add item to wishlist -->
      <div id="addItem" class="text-center col-sm-6" [ngClass]="{'show-class' : afService.email == ownerEmail}">
          <input id="newWishlistItemInput" #item type="text" placeholder="Enter a new wishlist item" [(ngModel)]="newWishlistItem" (keyup.enter)="addWishlistItem()" required=""/>
          <button id="newWishlistItemButton" (click)="addWishlistItem()">Add</button>
      </div>

      <!-- Share wishlist with other users-->
      <div id="share" class="text-center col-sm-6" [ngClass]="{'show-class' : afService.email == ownerEmail}">
          <input id="newWishlistItemInput" #share type="email" placeholder="Enter friend's email (NOT WORKING YET)" [(ngModel)]="shareEmail" (keyup.enter)="shareWishlist()" required=""/>
          <button id="newWishlistItemButton" style="background-color: red;" (click)="shareWishlist()">Share</button>
      </div>

      <!-- IF USER IS NOT AUTHORIZED TO VIEW WISHLIST, DISPLAY THIS TEXT-->
      <div id="unauthorizedText" [ngClass]="{ 'show-class': (afService.email != ownerEmail || !objIter(emailObj, afService.email)) && !sharedToggle }">
        <h1 style="text-align: center;">You are not authorized to view this page</h1>
      </div>

  </div>
</div>
