/* Override */

.panel {
  border: 0;
}
.panel-title {
  font-size: 30px;
}

.panel-heading {
  color: white;
  background-color: #81CFE0;
}

/*:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.38);
}*/

.itemName {
  font-size: 18px;
  word-wrap: break-word;
}

#unauthorizedText {
  /*visibility: hidden;*/
}

#addItem, #share {
  margin-top: 10px;
}

.completedItem {
  /*margin-right: 5px;*/
  margin: 6px 0 0;
}

.newWishlistItemInput {
  width: 70%;
  border: 0px;
  background-color: #ddd;
  padding: 10px 10px;
  border-radius: 0px;
}

#newWishlistItemButton, #shareButton{
  border-style: none;
  background-color: #81CFE0;
  color: white;
  width: 20%;
  border-radius: 5px;
  height: 30px;
}

#newWishlistItemButton:hover , #shareButton:hover, #newWishlistItemButton:focus, #shareButton:focus{
  background-color: #50909e;
}

#shareButton {
  background-color: #81CFE0;
}

/*#deleteItem {
  float: right;
}*/

.deleteItem:hover {
  color: red;
  cursor: pointer;
}

.hide-class {
  display: none;
}

.show-class {
  display: block !important;
}

.text-strike {
  text-decoration: line-through;
}

/*.error {
  margin: 15px 0 0;
  color: red;
  font-size: 12px;
}*/

#wishlistOwner {
  text-align: center;
  margin: 5px 0px;
  font-size: 12px;
  position: relative;
  line-height: 15px;
}

#hideBeforeInit {
  display:none;
}

.creatorIcon {
  /*float: right;*/
  font-size: 10px;
  line-height: 16px;
  margin-right: 5px;
}

.creatorName {
  font-size: 12px;
  /*float: right;*/
  line-height: 20px;
  margin-right: 10px;
}

.creatorInfo {
  text-align: right;
}

.toggleCheckbox {
  margin-right: 5px;
}

#toggles label:not(:first-child) {
    margin-left: 10px;
}
