<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div id="hideBeforeInit" [ngClass]="{'show-class' : pageLoaded}">
        <div id="toggles" *ngIf="afService.email == ownerEmail">
          <label><input type="checkbox" class="toggleCheckbox" [(ngModel)]="editableToggle" (change)="checkboxWishlistChange($event, 'editable')">Editable?</label>
          <label><input type="checkbox" class="toggleCheckbox" [(ngModel)]="sharedToggle" (change)="checkboxWishlistChange($event, 'shared')">Shared?</label>
        </div>

        <div *ngIf="error" class="text-center alert alert-danger">
          <p>{{flashMessage}}</p>
        </div>

        <div *ngIf="success" class="text-center alert alert-success">
          <p>{{flashMessage}}</p>
        </div>



        <!-- PANEL FOR AUTHORIZED USER/ DISPLAYS WISHLIST AND ITEMS -->
        <!-- <div id="wishlistPanel" class="panel panel-default" [ngClass]="{'show-class' : afService.email == ownerEmail || objIter(emailObj, afService.email)}"> -->
        <div id="wishlistPanel" class="panel panel-default" *ngIf="afService.email == ownerEmail || (objIter(emailObj, afService.email) && sharedToggle)">
          <div class="panel-heading">
            <h1 class="panel-title text-center">{{title}}</h1>
            <p id="wishlistOwner">Created by: <br/>{{ownerName}}</p>
          </div>
          <!-- List group for Wishlist items -->
          <ul class="list-group" *ngFor="let item of items | async; let i = index;">
            <li class="list-group-item">
              <div class="col-xs-12" style="margin-bottom: 10px;">
                <input type="checkbox" class="col-xs-1 completedItem" [(ngModel)]="item.completed" (change)="checkboxItemChange($event, item.$key, 'completed')" *ngIf="(afService.email == ownerEmail) || (editableToggle && afService.email == item.creatorEmail)">
                <span
                class="col-xs-11 itemName" [ngClass]="{'text-strike' : item.completed}" data-toggle="collapse" [attr.href]="'#collapse'+i">
                {{item.title}}
                </span>
              </div>
              <div class="creatorInfo">
                <span class="creatorIcon glyphicon glyphicon-user" aria-hidden="true"></span>
                <span class="creatorName">{{item.creatorName}}</span>
                <span (click)="deleteWishlistItem(item.$key)" class="deleteItem" *ngIf="afService.email == ownerEmail || afService.email == item.creatorEmail">&times;</span>
              </div>
              <div [attr.id]="'collapse' + i " class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat.</div>
              </div>
            </li>
          </ul>
        </div>


        <!-- Add item to wishlist -->
        <div id="addItem" class="text-center col-sm-6" *ngIf="(afService.email == ownerEmail) || (editableToggle && (objIter(emailObj, afService.email)) && sharedToggle)">
            <input class="newWishlistItemInput" #item type="text" placeholder="Enter a new wishlist item" [(ngModel)]="newWishlistItem" (keyup.enter)="addWishlistItem()" required=""/>
            <button id="newWishlistItemButton" (click)="addWishlistItem()">Add</button>
        </div>

        <!-- Share wishlist with other users-->
        <div id="share" class="text-center col-sm-6" *ngIf="afService.email == ownerEmail">
            <input class="newWishlistItemInput" #share type="email" placeholder="Enter friend's email" [(ngModel)]="shareEmail" (keyup.enter)="shareWishlist()" required=""/>
            <button id="shareButton" (click)="shareWishlist()">Share</button>
        </div>

        <!-- IF WISHLIST SHARED TOGGLE IS DISABLED-->
        <div id="notSharedText" class="text-center col-sm-12" *ngIf="(afService.email != ownerEmail && !(objIter(emailObj, afService.email))) || (afService.email != ownerEmail && (objIter(emailObj, afService.email)) && !sharedToggle)">
          <h1 style="text-align: center;">Creator has disabled shared access to this wishlist</h1>
        </div>

        <!-- IF USER IS NOT AUTHORIZED TO VIEW WISHLIST, DISPLAY THIS TEXT-->
        <div id="unauthorizedText" class="text-center col-sm-12" *ngIf="(!(objIter(emailObj, afService.email)) && afService.email != ownerEmail)">
          <h1 style="text-align: center;">You are not authorized to view this page</h1>
        </div>
      </div>
    </div>
  </div>
</div>
