/* Override */
.panel-title {
  font-size: 30px;
}

#wishlistPanel, #unauthorizedText {
  visibility: hidden;
}

#completedItem {
  float: right;
  margin-right: 5px;
}

#newWishlistItemInput {
  width: 70%;
  border: 2px solid black;
  padding: 10px 10px;
}

#newWishlistItemButton {
  border-style: none;
  background-color: green;
  color: white;
  width: 20%;
}

#newWishlistItemButton:hover {
  background-color: darkgreen;
}

#deleteItem {
  float: right;
}

#deleteItem:hover {
  color: red;
  cursor: pointer;
}

.hide-class {
  visibility: hidden;
}

.show-class {
  visibility: visible !important;
}

.text-strike {
  text-decoration: line-through;
}

.error {
  margin: 15px 0 0;
  color: red;
  font-size: 12px;
}
