.menu {
  width: 200px !important;
}

#newWishlistInput {
  width: 70%;
  border: 0px;
  background-color: #f2f2f2;
  padding: 10px 10px;
  border-radius: 5px;
}

#newWishlistButton {
  border-style: none;
  background-color: #81CFE0;
  color: white;
  width: 20%;
  border-radius: 5px;
  height: 30px;
}

#newWishlistButton:hover, #newWishlistButton:focus {
  background-color: #50909e;
}

.error {
  margin: 15px 0 0;
  color: red;
  font-size: 12px;
}

.show-class {
  visibility: visible !important;
  color: red !important;
}

.creator {
  float: right;
  font-size: 11px;
}

.panel-default>.panel-heading {
  color: white;
  background-color: #81CFE0;
}

.panel {
  border: 0;
}

.mSpace {
  margin-top: 20px;
}
