<div class="container">
  <div class="row" id="hideBeforeInit" [ngClass]="{'show-class' : pageLoaded}" *ngIf="afService.email == ownerEmail || (objIter(emailObj, afService.email) && sharedToggle)">

    <div class="col-xs-12 text-center">
      <h1>Welcome to your Secret Santa group page</h1>
      <h3>{{title}}</h3>
    </div>

    <div class="col-xs-12">

      <div *ngIf="error" class="text-center alert alert-danger">
        <p>{{flashMessage}}</p>
      </div>

      <div *ngIf="success" class="text-center alert alert-success">
        <p>{{flashMessage}}</p>
      </div>

    </div>

    <div class="col-xs-12">
      <div id="share" class="text-center col-sm-12" *ngIf="afService.email == ownerEmail">
          <input class="newWishlistItemInput" #share type="email" placeholder="Enter friend's email" [(ngModel)]="participantEmail" (keyup.enter)="addParticipant()" required=""/>
          <button class="shareButton" (click)="addParticipant()">Add</button>
      </div>
    </div>

    <div class="col-xs-12" *ngIf="this.afService.email == ownerEmail">
      <button class="col-sm-12 shuffle" (click)="secretSantaGenerator()">Shuffle</button>
    </div>

    <div class="col-xs-12 text-center">
      <p>
        You will be buying a gift for:
        <span class="assignedName">{{assignedTo}}</span>
      </p>
    </div>

    <!-- <div id="wishlistPanel" class="panel panel-default">
      <div class="panel-heading">
        <h1 class="panel-title text-center">Gift Ideas</h1>
      </div>
      <ul class="list-group" *ngFor="let item of items | async; let i = index;">
        <li class="list-group-item">
          <div class="col-xs-12" style="margin-bottom: 10px;">
            <input type="checkbox" class="col-xs-1 completedItem" [(ngModel)]="item.completed" (change)="checkboxItemChange($event, item.$key, 'completed')" *ngIf="(afService.email == ownerEmail) || (editableToggle && afService.email == item.creatorEmail)">
            <span
            class="col-xs-11 itemName" [ngClass]="{'text-strike' : item.completed}" data-toggle="collapse" [attr.href]="'#collapse'+i">
            {{item.title}}
            </span>
          </div>
          <div class="creatorInfo">
            <span class="creatorIcon glyphicon glyphicon-user" aria-hidden="true"></span>
            <span class="creatorName">{{item.creatorName}}</span>
            <span (click)="deleteWishlistItem(item.$key)" class="deleteItem" *ngIf="afService.email == ownerEmail || afService.email == item.creatorEmail">&times;</span>
          </div>
          <div [attr.id]="'collapse' + i " class="panel-collapse collapse">
            <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
            minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
            commodo consequat.</div>
          </div>
        </li>
      </ul>
    </div> -->

  </div>

  <!-- IF USER IS NOT AUTHORIZED TO VIEW, DISPLAY THIS TEXT-->
  <div id="unauthorizedText" class="text-center col-sm-12" *ngIf="!objIter(emailObj, afService.email)">
    <h1 style="text-align: center;">You are not authorized to view this page</h1>
  </div>
</div>
