h2 {
  margin-top: 75px;
  margin-bottom: 20px;
}

i {
  color: green;
}

.newWishlistItemInput {
  width: 70%;
  border: 0px;
  background-color: white;
  padding: 10px 10px;
  border-radius: 5px;
}

.shareButton, .shuffle{
  border-style: none;
  background-color: #81CFE0;
  color: white;
  width: 20%;
  border-radius: 5px;
  height: 30px;
}

.shareButton:hover, .shuffle:hover{
  background-color: #50909e;
}

.shuffle {
  width: 50%;
  height: 60px;
  margin: 20px 0px;
}

.assignedName {
  font-weight: bold;
  padding: 10px;
  margin-left: 5px;
  border: 0px;
  background-color: white;
  font-size: 20px;
}

.assignClass {
  margin-top: 20px;
}

#hideBeforeInit {
  display:none;
}

.show-class {
  display: block !important;
}
