<div class="container">
  <div class="row" id="hideBeforeInit" [ngClass]="{'show-class' : pageLoaded}" *ngIf="afService.email == ownerEmail || (objIter(emailObj, afService.email))">

    <div class="col-xs-12 text-center">
      <h1>Welcome to your Secret Santa group page</h1>
      <h3>{{title}}</h3>
    </div>

    <div class="col-xs-12">

      <div *ngIf="error" class="text-center alert alert-danger">
        <p>{{flashMessage}}</p>
      </div>

      <div *ngIf="success" class="text-center alert alert-success">
        <p>{{flashMessage}}</p>
      </div>

    </div>

    <div class="col-xs-12">
      <div id="share" class="text-center col-sm-12" *ngIf="afService.email == ownerEmail">
          <input class="newWishlistItemInput" #share type="email" placeholder="Enter friend's email" [(ngModel)]="participantEmail" (keyup.enter)="addParticipant()" required=""/>
          <button class="shareButton" (click)="addParticipant()">Add</button>
      </div>
    </div>

    <div class="col-xs-12" *ngIf="this.afService.email == ownerEmail">
      <button class="col-sm-12 shuffle" (click)="secretSantaGenerator()">Shuffle</button>
    </div>

    <div class="col-xs-12 text-center">
      <p>
        You will be buying a gift for:
        <span class="assignedName">{{assignedTo}}</span>
      </p>
    </div>

  </div>

  <!-- IF USER IS NOT AUTHORIZED TO VIEW, DISPLAY THIS TEXT-->
  <div id="unauthorizedText" class="text-center col-sm-12" *ngIf="!objIter(emailObj, afService.email) || !ownerEmail">
    <h1 style="text-align: center;">You are not authorized to view this page</h1>
  </div>
</div>
